/* Hover Animation */
@keyframes hover {
    0%{
        transform: translateY(0);
        /* code */
    }
    50%{
        transform: translateY(-5px, 5px);
        /* code */
    }
    100%{
        transform: translateY(0);
        /* code */
    }
}